<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asgar.uiwidgets">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ui"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ui"
        android:supportsRtl="true"
        android:theme="@style/Theme.UiWidgets">
        <activity
            android:name=".Form.ToggleBtnSwitchDemo"
            android:exported="false" />
        <activity
            android:name=".Form.SpinnerDemo"
            android:exported="false" />
        <activity
            android:name=".Form.MyForm"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".CustomToast"
            android:exported="false" />
        <activity
            android:name=".ButtonClickEventTwo"
            android:exported="false" />
        <activity
            android:name=".ButtonClickEvent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>